@use 'variables' as *;
@use 'utils' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: var(--background);
}

body {
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}
