:root {
  --background: #ffffff;
  --text-color: #131314;
}

// Синяя тема
.blue {
}

// Красная тема
.red {
}

// Зелёная тема
.green {
}

// Тёмная схема для всех тем
.dark-scheme {
  --background: #131314;
  --text-color: #e5e7ea;
}

// Тёмная синяя тема
.blue.dark-scheme {
}

// Тёмная красная тема
.red.dark-scheme {
}

// Тёмная зелёная тема
.green.dark-scheme {
}
