{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSameLine": true,
  "cssDeclarationSorter": "smacss",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": true,
        "bracketSpacing": true
      }
    }
  ]
}
